* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 16px;
  }
  h1 {
    color: #1048b1;
    margin: 10px 0;
  }
  header form {
    display: inline;
  }
  header {
    padding: 30px 20px;
  }
  header a {
    color: #3875e6;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(85, 72, 202);
  }
  
  main {
    padding: 0 20px;
  }
  
  input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin: 10px 0;
  }
  
  button {
    width: 50%;
    height: 40px;
    padding: 0 10px;
    margin: 10px 0;
    cursor: pointer;
    background-color: #03293bee;
    color: #fff;
    border-radius: 10px;
  }
  .btn-logout{
    border: none;
    width: auto;
    height: 40px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: transparent;
    color: #3875e6;
    text-decoration: none;
    border-radius: 0;
  }
  .btn-logout:hover {
    color: rgb(85, 72, 202);
    background-color: transparent;
  }
  button:hover {
    background-color: #03293baa;
  }
  button {
    width: 100px;
  }
  a button {
    background-color: #0d9ee0ee;
  }
  .form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-container  form{
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .error-alert {
    font-size: 1.5rem;
    color: red;
  }
  .success-alert {
    font-size: 1.5rem;
    color: green;
  }
  .validation-alert {
    font-size: 1.5rem;
    color: #c4a621;
  }
  .form-container form  {
    width: 100%;
  }
  @media only screen and (min-width: 600px) {
    .form-container form  {
      width: 80%;
    }
  }
  @media only screen and (min-width: 992px) {
    .form-container form {
      width: 30%;
    }
  }