<%- include("./partials/head") %>
<%- include("./partials/header") %>
<main class="form-container">
  <h1>Cadastro</h1>
  <form>
    <input type="text" name="nome" placeholder="Nome"/>
    <input type="text" name="sobrenome" placeholder="Sobrenome"/>
    <input type="text" name="apelido" placeholder="Apelido"/>
    <input type="email" name="email" placeholder="E-mail"/>
    <input type="password" name="senha" placeholder="Senha"/>
    <input type="password" name="confirmar_senha" placeholder="Confirmar senha"/>
    <button type="submit">Adicionar</button>
  </form>
</main>
<%- include("./partials/footer") %>